/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container{
    width: 80%;
    margin: 0 auto;
    height: 100%;
    background-color: yellow;
}

.bordered{
    border: 2px dashed black;
}

header{
    height: 4.5rem;
    background-color: #1aee06;
    flex-direction: column;
}

.top-nav{
    height: 3rem;
    margin-top: .75rem;
    background-color: #ff6915;
}

li{
    display: inline-block;
}

a{
    text-decoration: none;
    color: white;
}

.flex-end{
    display: flex;
    justify-content: flex-end;
}

.main-logo{
    width: 100px;
}

.icon-menu,
.main-menu{
    flex-basis: 40%;
}

.flex-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}





.content{
    margin-top: 1rem;
    width: 15rem;
    background-color: blueviolet; 
    flex-basis: calc(100% / 3);
    
}

.card{
    background-color: blue;
}

.replace{
    display: none;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
}

.card:hover .replace{
    display: inline;
}


.items{
    width: 100%;
    display: block;
}

.favourites{
    top: 0;
    right: 0;
    font-size: 2rem;
    background-color: white;
    width: 2rem;
    text-align: center;
    z-index: 2;
}

.favourites:hover{
    color: red;
}

.sostenibilità{
    background-color: green;
    bottom: 3rem;
    left: 2.5rem;
    z-index: 3;
}

.sostenibilità-left{
    background-color: green;
    bottom: 3rem;
    left: 0rem;
}

.discount50{
    background-color: red;
    bottom: 3rem;
    left: 0;
    z-index: 4;
}

.discount30{
    background-color: red;
    bottom: 3rem;
    left: 0;
    z-index: 5;
}

.p-relative{
    position: relative;
}

.p-absolute{
    position: absolute;
}















footer{
    height: 4.5rem;
    background-color: #1aee06;
}


