/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container{
    width: 80%;
    margin: 0 auto;
    height: 100%;
}

header{
    height: 4.5rem;
    background-color: #ff6915;
    flex-direction: column;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;;
}

.top-nav{
    height: 3rem;
    margin-top: .75rem;
    padding: 0rem 4rem;
}

li{
    display: inline-block;
}

a{
    text-decoration: none;
    font-size: 1.2rem;
}

.flex-end{
    display: flex;
    justify-content: flex-end;
}

.main-logo{
    width: 8rem;
}

.icon-menu,
.main-menu{
    flex-basis: 40%;
}

.flex-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}


.white{
    color: white;
}

i{
    font-size: 1.2rem;
    padding-left: 1rem;
}


.content{
    margin-top: 1rem;
    width: 15rem;
    flex-basis: calc(100% / 3);
    padding: 4rem;
}

.card{
    background-color: blue;
}

.replace{
    display: none;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
}

.card:hover .replace{
    display: inline;
}


.items{
    width: 100%;
    display: block;
}

.favourites{
    top: .5rem;
    right: 0;
    font-size: 2rem;
    background-color: white;
    width: 2rem;
    text-align: center;
    z-index: 2;
}

.favourites:hover{
    color: red;
}

.sostenibilità{
    background-color: green;
    bottom: 3rem;
    left: 2.5rem;
    z-index: 3;
}

.sostenibilità-left{
    background-color: green;
    bottom: 3rem;
    left: 0rem;
}

.discount50{
    background-color: red;
    bottom: 3rem;
    left: 0;
    z-index: 4;
}

.discount30{
    background-color: red;
    bottom: 3rem;
    left: 0;
    z-index: 5;
}

.p-relative{
    position: relative;
}

.p-absolute{
    position: absolute;
}


footer{
    height: 4.5rem;
    background-color: #1a1a1a;
}

footer>div{
    padding: 0rem 4rem;
}

.find-us{
    padding: 0rem 0rem 0.5rem 1rem;
}

.boolando-srl{
    padding-bottom: 0.5rem;
}

