/* RESET */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container{
    width: 80%;
    margin: 0 auto;
    height: 100%;
    background-color: yellow;
}

.bordered{
    border: 2px dashed black;
}

header{
    height: 4.5rem;
    background-color: #1aee06;
    flex-direction: column;
}

.top-nav{
    height: 3rem;
    margin-top: .75rem;
    background-color: orange;
}

.content{
    margin-top: 1rem;
    height: 25rem;
    width: 15rem;
    background-color: blueviolet; 
    flex-basis: calc(100% / 3);
}

.flex-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card{
    width: 15rem;
    height: 20rem;
    background-color: blue;
}

.flex-centered{
    display: flex;
    justify-content: center;
    align-items: center;
}